body{
    background-color: #c3c3c3;
    font-family: Bahnschrift;
}
.jumbotron{
    background-color: rgba(00, 140, 00, 0.6);
    font-family: Bahnschrift;
    color: white;
    text-align: center;

}
#vasen{
    float: left;
    width: 50%;
}
#oikea{
    float: right;
    width: 50%;
}
#bottom{
    float: bottom;
    width: 100%;
}


#junataulukko{
    class: "table table-striped";
}
#pnk2 { display: none;}
#pnkLogin2 {display: none;}
