#vasen{
    float: left;
    width: 50%;
}
#oikea{
    float: right;
    width: 50%;
}
#bottom{
    float: bottom;
    width: 100%;
}
h2{
    font-family: "Comic Sans MS";
}
p{
    font-family: "Comic Sans MS";
}
#junataulukko{
    class: "table table-striped";
}
#pnk2 { display: none;}
#pnkLogin2 {display: none;}

table{
    font-family: "Comic Sans MS";
}
form{
    font-family: "Comic Sans MS";
}
input{
    font-family: "Comic Sans MS";
}